<div class="container-fluid kaban-main">

  <ng-container>
    <app-kanban-char *ngIf="isVisible !== 1" #kanbanChar (sendObject)="getObjectFromChar($event)">
    </app-kanban-char>
  </ng-container>

  <ng-container>
    <app-kanban-detail *ngIf="isVisible === 1" #kanbanDetail [object]="object" (visible)="setVisible($event)">
    </app-kanban-detail>
  </ng-container>
  <div class="bottom-main" *ngIf="isVisible !== 1">
    <ng-container *ngFor="let item of listRackPairs;let i = index">
      <div class='col title-bottom {{"footer-title-o"+ i}}'> <span class="">{{item.area_Short_Title}}</span></div>
      <div class="col title-bottom"><span class="title-bottom">{{item.pairs_Subtotal | number}}</span></div>
    </ng-container>
  </div>
</div>