<div>
  <div class="container-fluid header clearfix">
    <p class="pl-4 pt-3 header-title">FG Tracking Kanban - Sorting Kanban</p>
  </div>
  <div class="line-gradient"></div>
  <div class="container-fluid content-page p-4 clearfix">
    <div class="row ml-3 mr-3 mt-3">
      <div class="col-3">
        <div class="form-group row">
          <label class="col-4 input-group-text label-line">Line</label>
          <div class="col-8 ml-c">
            <div>
              <ng-select2 [data]="lines" [value]="searchParams.deptId" [(ngModel)]="searchParams.deptId" width="100%"
                name="deptId">
              </ng-select2>
            </div>
            <!--Styling ng-select2-->
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group row">
          <label class="col-5 input-group-text label-received-time" id="received-time">Received Time</label>
          <div class="col-7 ml-c">
            <input type="text" class="form-control input-received-time text-center" #dp="bsDatepicker" bsDatepicker
              [bsValue]="searchParams.receivedTime" [(ngModel)]="searchParams.receivedTime"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" name="receivedTime">
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select [(ngModel)]="searchParams.optionData" id="options" [value]="searchParams.optionData" name="optionData"
            class="form-control">
            <option value="completed">Completed</option>
            <option value="nocompleted">No Completed</option>
            <option value="manual">Manual Sorting</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-info btn-search" (click)="search()">Search</button>
        <button type="button" class="btn btn-default btn-reset ml-3" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-info btn-search" (click)="exportExcel()">Export Excel</button>
      </div>
    </div>
    <div class="row">
      <div class="col-9">

      </div>
      <div class="col-3">
        <div class="form-group d-inline-block pl-2">
          <input type="checkbox" class="check-box" [checked]="isAutoRefreshAll" id="auto-refesh"
            (change)="autoRefreshAll(isAutoRefreshAll)" name="isAutoRefreshAll" [(ngModel)]="isAutoRefreshAll" />
          <label class="label-check-box auto-refesh" for="auto-refesh">Auto Refresh</label>
        </div>
        <div class="form-group d-inline-block pl-2">
          <input type="checkbox" class="check-box" [checked]="isAutoRefreshPage" name="autoPage" id="auto-refesh_page"
            (change)="autoRefreshPage(isAutoRefreshPage)" name="isAutoRefreshPage" [(ngModel)]="isAutoRefreshPage" />
          <label class="label-check-box auto-refesh" for="auto-refesh_page">Auto Page</label>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered list-detail">
        <thead>
          <tr>
            <th scope="col">Production Line</th>
            <th scope="col" class="sort" (click)="sort('transfer_form')">Transfer Form # &nbsp;
              <i
                [class]="sortTransferForm === ''? 'fa fa-arrows-v'  : sortTransferForm == 'asc' ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"></i>
            </th>
            <th scope="col">PO #</th>
            <th scope="col">Plan Ship Date</th>
            <th scope="col">Model Name</th>
            <th scope="col">Article #</th>
            <th scope="col">Cartons</th>
            <th scope="col">Pairs</th>
            <th scope="col">CBM</th>
            <th scope="col" class="sort" (click)="sort('received_time')">Received Time &nbsp;
              <i
                [class]="sortReceivedTime === '' ? 'fa fa-arrows-v' : sortReceivedTime == 'asc' ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc' "></i>
            </th>
            <th scope="col">Racks PIC</th>
            <th scope="col" class="sort" (click)="sort('completed_time')">Completed Time &nbsp;
              <i
                [class]="sortCompletedTime == '' ? 'fa fa-arrows-v' : sortCompletedTime == 'asc' ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"></i>
            </th>
            <th scope="col">Rack</th>
            <th scope="col">Suggested Location</th>
          </tr>
        </thead>
        <tbody *ngIf="vw_fgin_locat_list.length === 0">
          <tr>
            <td colspan="14">
              <alert class="text-center" type='warning'>
                <strong>NO DATA FOUND !</strong>
              </alert>
            </td>
          </tr>
        </tbody>
        <tbody *ngFor="let item of vw_fgin_locat_list; let i = index">
          <tr [class]="item.colorRow == 'blue' ? 'bg-dark-green' : 'bg-yellow'">
            <!-- xử lí hiển thị date -->
            <td scope="row">{{item.line_Desc}}</td>
            <td>{{item.up_Trno}}</td>
            <td>{{item.cdr_No}}</td>
            <td style="text-align: center;">{{convertDate2(item.plan_Export_Date)}}</td>
            <td>{{item.model_Name}}</td>
            <td>{{item.article}}</td>
            <td>{{item.ctN_Qty}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.meas}}</td>
            <td style="text-align: center;">{{convertDate(item.up_UTC_Dat)}}</td>
            <td>{{item.emp_Name}}</td>
            <td style="text-align: center;">{{convertDate(item.in_UTC_Dat)}}</td>
            <td>{{item.locat}}</td>
            <td>{{item.suggest_Locat}}</td>
          </tr>

        </tbody>
      </table>

      <div class="row footer">
        <div class="col row pt-2">
          <div class="col footer-title footer-title-o"><span>Cartons</span></div>
          <div class="col footer-value"><span>{{ Cartons }}</span></div>
          <div class="col footer-title footer-title-o1"><span>Pairs</span></div>
          <div class="col footer-value"><span>{{ Pairs }}</span></div>
          <div class="col footer-title footer-title-o2"><span>CBM</span></div>
          <div class="col footer-value"><span>{{ CBM }}</span></div>
        </div>
        <div class="col">
          <div class="d-flex float-right pt-3 row" *ngIf="this.pagination.totalPage > 1">
            <pagination class="my-pagination" [boundaryLinks]="true" [totalItems]="pagination.totalCount"
              [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.pageSize"
              (pageChanged)="pageChanged($event)" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
              lastText="LAST" [maxSize]=7 *ngIf="this.pagination.totalPage > 1">
            </pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>