<div class="container kanban-detail-top">
  <div class="row">
    <div class="col-6 pl">
      <h3 class="m-portlet__head-text kanban_detail_header">
        Kanban Detail <br />
      </h3>
    </div>
    <div class="col-6 pr">
      <a class="btn btn-back btn-dark fr" (click)="setVisible()">
        <!-- <a href="javascript:;" @click="backTable" class="btn btn-back btn-dark"> -->
        <span>
          <i class="cil-arrow-left whitr"></i>
          <span>
            Back
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="line-gradient mb-4"></div>

<div class="container br">
  <div class="m-portlet__head container">
    <div class="row">
      <div class="col">
        <div class="form-group row">
          <label class="col-md-3 lable-bgr">WH</label>
          <div class="col-sm-9" style="margin-left:-15px;">
            <select class="form-control content-background-output rounded-0" [(ngModel)]="searchParam.wareHouseId"
              (ngModelChange)="autoRefresh()">
              <option value="">All Warehouse</option>
              <option *ngFor="let item of listWareHouses" value={{item.id}}>{{item.id}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 lable-bgr">Building</label>
          <div class="col-sm-8" style="margin-left:-15px;">
            <select class="form-control content-background-output rounded-0" [(ngModel)]="searchParam.buildingId"
              (ngModelChange)="autoRefresh()">
              <option value="">All Building</option>
              <option *ngFor="let item of listBuildings" value={{item.id}}>{{item.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 lable-bgr">Floor</label>
          <div class="col-sm-7" style="margin-left:-15px;">
            <select class="form-control content-background-output rounded-0" [(ngModel)]="searchParam.floorId"
              (ngModelChange)="autoRefresh()">
              <option value="">All Floor</option>
              <option *ngFor="let item of listFloors" value={{item.id}}>{{item.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-3 lable-bgr">Area</label>
          <div class="col-sm-9" style="margin-left:-15px;">
            <select class="form-control content-background-output rounded-0" [(ngModel)]="searchParam.areaId"
              (ngModelChange)="autoRefresh()">
              <option value="">All Area</option>
              <option *ngFor="let item of listAreas" value={{item.id}}>{{item.text}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5  lable-bgr">Rack</label>
          <div class="col-sm-7" style="margin-left:-15px;">
            <input type="text" [(ngModel)]="searchParam.rackNo" (ngModelChange)="autoRefresh()"
              class="form-control content-background-input rounded-0">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-3 lable-bgr">PO</label>
          <div class="col-sm-9" style="margin-left:-15px;">
            <input type="text" [(ngModel)]="searchParam.poNo" class="form-control content-background-input rounded-0"
              (ngModelChange)="autoRefresh()">
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-sm-2">
        <div class="form-group row">
          <label class="col-md-4 lable-bgr">Date Type</label>
          <div class="col-sm-8" style="margin-left:-15px;">
            <select class="form-control content-background-output rounded-0" [(ngModel)]="searchParam.dateType"
              (ngModelChange)="autoRefresh()">
              <!-- @change="onChangeDateType($event)"> -->
              <option value="">Please select date type</option>
              <option value="cfm_date">CFM Date</option>
              <option value="export_date">Export Date</option>
              <option value="lpd">LPD</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group row">
          <label class="col-sm-4 lable-bgr">From Date</label>
          <div class="col-sm-8" style="margin-left:-15px;">
            <input placeholder="From date" type="text" [disabled]="searchParam.dateType != '' ? false : true"
              class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
              bsDatepicker [outsideClick]="true" [(ngModel)]="searchParam.fromDate" (ngModelChange)="setFromDate()">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group row">
          <label class="col-sm-4  lable-bgr">To Date</label>
          <div class="col-sm-8" style="margin-left:-15px;">
            <input placeholder="To date" type="text" class="form-control"
              [disabled]="searchParam.dateType != '' ? false : true" bsDatepicker #dp="bsDatepicker"
              [minDate]="mindate" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" bsDatepicker [outsideClick]="true"
              [(ngModel)]="searchParam.toDate" (ngModelChange)="setToDate()">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <!-- <button type="button" @click="refresh()" style="margin-left:-15px;" -->
        <button type="button" style="margin-left:-15px;" class="btn btn-primary btn-refresh rounded-0"
          (click)="search()">Refresh</button>
        <div class="form-group d-inline-block pl-2">
          <input type="checkbox" class="check-box" [(ngModel)]="isAutoRefresh" id="auto-refesh" />
          <label class="label-check-box auto-refesh" for="auto-refesh">Auto Refresh</label>
        </div>
      </div>
      <!--</div>-->
      <div class="col">
        <!-- <button type="button" @click="exportExcel" v-bind:disabled="lstLocation.length <= 0 ? true : false" -->
        <button type="button" (click)="exportExcel()" style="margin-left:-15px;"
          class="btn btn-info btn-export rounded-0">
          <i class="fa fa-file-excel-o"></i>&nbsp;Export Excel
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <table class="table table-bordered table-kanban-detail">
        <thead>
          <tr class="f12">
            <!-- <th scope="col" class="sort" @click="sort('cfmdate')"> -->
            <th scope="col" class="sort" (click)="toggleSort(sortColumn.CMFDate)">
              CFM Date &nbsp;
              <i [class]="sortParams[0].sortClass"></i>
            </th>
            <!-- <th scope="col" class="sort" @click="sort('exportdate')"> -->
            <th scope="col" class="sort" (click)="toggleSort(sortColumn.ExportDate)">
              Export Date &nbsp;
              <i [class]="sortParams[1].sortClass"></i>
            </th>
            <!-- <th scope="col" class="sort" @click="sort('lpd')"> -->
            <th scope="col" class="sort" (click)="toggleSort(sortColumn.LPD)">
              LPD &nbsp;
              <i [class]="sortParams[2].sortClass"></i>
            </th>
            <!-- <th scope="col" class="sort" @click="sort('pono')"> -->
            <th scope="col" class="sort" (click)="toggleSort(sortColumn.PoNo)">
              Po No. &nbsp;
              <i [class]="sortParams[3].sortClass"></i>
            </th>
            <th scope="col">Model Name</th>
            <th scope="col">ART</th>
            <th scope="col">WH</th>
            <th scope="col">Building</th>
            <th scope="col">Floor</th>
            <th scope="col">Area</th>
            <th scope="col">Rack</th>
            <th scope="col">PO Qty</th>
            <th scope="col">WH Qty</th>
            <th scope="col">Rack Qty</th>
            <th scope="col">Rack CTN</th>
            <th scope="col">CBM</th>
          </tr>
        </thead>
        <tbody>
          <tr class="f12" *ngFor="let item of listData">
            <td scope="col">{{item.comfirmed_Date | date: "yyyy/MM/dd"}}</td>
            <!--CFM Date-->
            <td scope="col">{{item.plan_Ship_Date| date: "yyyy/MM/dd"}}</td>
            <!--Export Date-->
            <td scope="col">{{item.real_Finish_Date| date: "yyyy/MM/dd"}}</td>
            <!--LPD-->
            <td scope="col">{{item.order_ID}}</td>
            <!--Po No.-->
            <td scope="col">{{item.model_Name}}</td>
            <!--Model Name-->
            <td scope="col">{{item.article}}</td>
            <!--ART-->
            <td scope="col">{{item.warehouse_Id}}</td>
            <!--WH-->
            <td scope="col">{{item.building_Name}}</td>
            <!--Building-->
            <td scope="col">{{item.floor_Name}}</td>
            <!--Floor-->
            <td scope="col" class="text-capitalize">{{item.area_Name}}</td>
            <!--Area-->
            <td scope="col">{{item.location_ID}}</td>
            <!--Rack-->
            <td scope="col" class="text-right">{{item.order_Qty | number}}</td>
            <!--PO Qty-->
            <td scope="col" class="text-right">{{item.countStockQty | number}}</td>
            <!--WH Qty-->
            <td scope="col" class="text-right">{{item.countCartonPairs | number}}</td>
            <!--Rack Qty-->
            <td scope="col" class="text-right">{{item.countCartons | number}}</td>
            <!--Rack CTN-->
            <td scope="col" class="text-right">{{item.volume | number}}</td>
            <!--CBM-->
          </tr>


          <tr *ngIf="dataFound">
            <td colspan="16">
              <div class="alert alert-warning text-center text-uppercase text-dark font-weight-bold" role="alert">
                No data found !
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination class="float-right" name="pagination"
        [totalItems]="listDataAll !== undefined ? this.isSearch ? this.listDataAfterSearch.length :  this.listDataAll.length : 0"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="pagination.pageSize"
        [rotate]="false" [maxSize]="5" [boundaryLinks]="true" previousText="PREV" nextText="NEXT" firstText="FIRST"
        lastText="LAST">
      </pagination>
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let item of listArea_CountTotal;let i = index">
            <div *ngIf="item.visible" class='col footer-title footer-value {{"footer-title-o"+ i}}'>
              <span>{{item.label}}</span>
            </div>
            <div *ngIf="item.visible" class="col footer-value"><span>{{item.totalCount | number}}</span></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line-gradient mt-4"></div>
<div class="row">
</div>
